/*========== HERO AND HEADER ================= */

.wrapper-main {
  padding-bottom: var(--section-padding);
}

.hero-home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding-bottom: 4rem;
  background-color: #9da29e;
  color: #fff;
}

.header {
  padding: 2rem;
}

.btn-expand {
  position: fixed;
  right: 2rem;
  background-color: red;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}

.btn-mobile {
  display: none;
}

.btn-expand.active {
  transform: scale(1);
  pointer-events: all;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.co-nav-links {
  display: flex;
  gap: 1rem;
}

.nav-link {
  font-size: 16px;
}

.info-hero-home {
  padding-top: 5rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

.located {
  grid-column: 1/7;
  padding-left: 2rem;
  font-size: 16px;
}

.service-hero {
  grid-column: 8/12;
  display: flex;
  flex-direction: column;
  font-size: 36px;
  padding-bottom: 1rem;
}

/* TEXT MARQUE */
.marquee {
  position: relative;
  font-size: 15vw;
  overflow: hidden;
}

.marquee__inner {
  display: flex;
  width: fit-content;
  flex: auto;
}

.marquee_part {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0 1rem;
}

/* section about */
#section-about {
  padding-top: 5rem;
}

.text-service {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
}

.txt-service {
  font-size: 31px;
  line-height: 1.4em;
  grid-column: 1/9;
  text-wrap: pretty;
}

.txt-service-2 {
  grid-column: 10/13;
  line-height: 1.4em;
  opacity: 0.5;
  text-wrap: pretty;
}

/* SECTION PROJECT */

#section-project-mobile {
  display: none;
}

#project-section {
  padding-top: var(--section-padding);
}

.title-section-project {
  padding-bottom: 2rem;
  font-size: 12px;
  color: gray;
}

canvas {
  position: fixed;
  z-index: 0;
  pointer-events: none;
}

.project-image {
  opacity: 0%;
  position: absolute;
  top: -100%;
  pointer-events: none;
  user-select: none;
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.list-projects {
  display: flex;
  flex-direction: column;
}

.link-project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(128, 128, 128, 0.451);
  padding: 3rem 0;
  transition: opacity 0.5s ease;
}

.title-project {
  font-size: 71px;
}

/*==================== FOOTER =====================*/

.footer {
  background-color: #2e2e2e;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.co-footer {
  padding-top: 9rem;
}

.cta-footer-text {
  font-size: 71px;
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
  border-bottom: solid 1px #7c7c7c;
  text-wrap: pretty;
}

.line-top {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cta-gif-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.cta-info-footer {
  padding-top: 4rem;
  display: flex;
  gap: 2rem;
}

.cta-info-footer a {
  display: inline-block;
  border: solid 1px #7c7c7c;
  padding: 20px 30px;
  border-radius: 30px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
}

.text-right {
  display: flex;
  gap: 2rem;
}
.copy {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.localtime {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.text-right h4,
.text-left h4 {
  font-size: 10px;
  text-transform: uppercase;
  color: #7c7c7c;
}

.text-left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.list-social {
  display: flex;
  gap: 1rem;
}

/* ====================== MEDIA QUERYS =================================== */

/*========= section project mobile ======= */
@media (max-width: 1024px) {
  #project-section {
    display: none;
  }

  #section-project-mobile {
    display: block;
    padding-top: var(--section-padding);
  }
  .container-project-mobile {
    width: 90%;
    margin: 0 auto;
  }
  .container-project-mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding: 0 1rem;
  }

  .co-image-project-mobile {
    width: 100%;
    height: 100%;
  }

  .co-image-project-mobile img {
    height: 100%;
    object-fit: cover;
  }

  .title-project-mobile {
    font-size: 31px;
  }

  .co-card {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
  }

  .text-top {
    padding-bottom: 1rem;
    border-bottom: solid 1px rgba(155, 155, 155, 0.567);
  }

  .text-bottom {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* text about */

  .txt-service {
    font-size: 24px;
  }
}

/* MEDIA QUERYS SECTION HERO */
@media (max-width: 940px) {
  .header {
    padding: 2.5rem 1rem;
  }

  .btn-mobile {
    display: block;
    cursor: pointer;
  }
  .co-nav-links {
    display: none;
  }

  .service-hero {
    font-size: 24px;
  }

  .marquee {
    font-size: 140px;
  }

  .txt-service {
    font-size: 24px;
  }

  /* responsive mobile section projects */
  .container-project-mobile {
    width: 100%;
    padding: 0 2rem;
  }

  /* footer */
  .cta-footer-text {
    font-size: 45px;
  }
  .cta-gif-image {
    width: 50px;
    height: 50px;
  }

  .footer-bottom {
    padding: 1.5rem;
  }
}

@media (max-width: 720px) {
  /* .text-hero-home {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }*/

  .info-hero-home {
    order: 2;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
  }

  .located {
    padding: 0;
    order: 2;
    display: none;
  }

  .marquee {
    order: 1;
    padding-top: 7rem;
  }

  /* text about */
  .text-service {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .txt-service-2 {
    width: 70%;
  }

  /* project section */

  /* footer */

  .co-footer{
    padding-top: 5rem;
  }

  .cta-info-footer {
    flex-direction: column;
    gap: 10px;
  }

  .cta-info-footer a {
    display: flex;
    justify-content: center;
  }

  .footer-bottom {
    flex-direction: column-reverse;
  }

  .socials {
    padding-bottom: 2rem;
    border-bottom: solid 1px #7c7c7c8c;
  }

  .text-right {
    padding: 1rem 0;
    justify-content: space-between;
  }
}

@media (max-width: 620px) {
  .container-project-mobile {
    grid-template-columns: 1fr;
    row-gap: 6rem;
    width: 100%;
    padding: 0 1rem;
  }
}




@media(max-width: 400px){
  .cta-footer-text{
    font-size: 11vw;
  }
}
/* media querys about section */
